<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid d-flex align-items-center justify-content-between w-100">
    <!-- Left side: Logo and Brand -->
    <div class="d-flex align-items-center">
      <img src="../img/caps.jpeg" width="80" class="mr-2" />
      <a class="navbar-brand" href="../home.html">XYZ University</a>
    </div>

    <!-- Center: Nav Links -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-2"><a class="nav-link" href="../home.html">Home</a></li>
        <li class="nav-item mx-2"><a class="nav-link" href="../supplier/supplier-list-all.html">Students List</a></li>
        <li class="nav-item mx-2"><a class="nav-link" href="../course/course-list-all.html">Courses</a></li>
        <li class="nav-item mx-2"><a class="nav-link" href="../profile/profile.html">Profile</a></li>
      </ul>
    </div>

    <!-- Right side: Auth buttons -->
    <div class="d-none d-lg-block" id="navbar-auth-button">
      <!-- Login or Logout button injected here -->
    </div>

    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
