.navbar {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}

.navbar-brand {
  /* color: rgb(0, 0, 0) !important; */
  font-weight: bold;
}

.nav-link {
  /* color: rgb(0, 0, 0) !important; */
  font-weight: normal !important;
}

.nav-link:hover {
  background-color: rgba(27, 242, 24, 0.1);
  border-radius: 5px;
}

.btn-custom {
  background-color: #0051ff;
  color: white;
  padding: 8px 16px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
}

.btn-custom:hover {
  background-color: #2600be;
  color: white;
}
